<!-- The Modal -->
<div class="modal fade job_desc_modal" id="disclaimer_modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body modal_interview_invite">
                <div class="site_row mb-5">
                    <div class="site_row">
                        <h2><b>DISCLAIMER!!!</b></h2>
                    </div>
                </div>

                <div class="add_experience_modal_form_div">
                    <div class="row">
                        <div class="col-md-12 input_div">
                            <h5>As you use the getajobng.com website to search and apply for jobs, please note:</h5>
                            <ul>
                                <li>Getajobng.com will not place obscene jobs on the platform.</li>
                                <li>Getajobng.com will never solicit job seekers to pay money to get jobs.</li>
                                <li>Getajobng.com will never put a phone number to be contacted by job seekers</li>
                                <li>Getajobng.com will only contact shortlisted job seekers, who has registered on the website.</li>
                                <li>info@getajobng.com is the official email of the site and will be the email used to send mails to registered candidates.</li>
                            </ul>
                        </div>
                    </div>

                    <div class="flex_row_justify_between_align_center prof_link_btns">
                        <div class="continue_btn">
                            <a href="/disclaimer"><button class="normal_btn">More Information</button></a>
                        </div>

                        <div class="row">
                            <div class="" id="accept_disclaimer_btn">
                                <button class="normal_btn">Yes, I Accept</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>